@tailwind base;
@tailwind components;
@tailwind utilities;

@import "scrollbar.scss";
@import "toasty.scss";
html{
    font-family: 'Inter'; 
    scroll-behavior: smooth!important;
  }
  
body{
    font-family: 'Inter', sans-serif;

}
#root{
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden; 
}
