@tailwind base;
@tailwind components;
@tailwind utilities;

@import "scrollbar.scss";
body{
    font-family: 'Inter', sans-serif;

}
#root{
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden; 
}
