
.word {
position: relative;
white-space: nowrap;


}
.word::after {
content: attr(data-text);
position: absolute;
left: 0;
height: 200px;
overflow: hidden;

}
  

.hid-box {
  top: 100%;
  position: absolute;
  transition: all .5s ease-out;
  background: #34224f;

}





